

.container {
margin: 20px;
 display: flex ;
 justify-content:center;
 align-items: center;

}

.app {
    width:20%;
    min-width:300px;
    border-radius:50px;
    border:1px solid lemonchiffon;  
    margin: 20px;
    box-shadow:  5px 5px 20px 20px lightblue inset !important;
}

.currentSong{
  min-height:80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius:50px;
  border-top-left-radius:50px;
  background-color: lemonchiffon;
  font-size:20px;
}

.tracks-list{
  min-height:300px;
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: moccasin;
}

.song-title-group{
  width:100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.song-title{
  width: 80%;
  height: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: 1px;
  background-color: aliceblue;
  margin: 10px 0;
}

.controller{
  min-height:100px;
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: lemonchiffon;
  border-bottom-right-radius:50px;
  border-bottom-left-radius:50px;
}

.controller:hover {
  background-color: lemonchiffon;
}

.controller_button{
  display: flex;
  align-items: center;
}

.controller_button  button{
  margin: 0 5px;
  background-color: lemonchiffon;
  border: none;
}

.prevNext-button{
  width:40px !important; 
  height:40px !important;
}

 .play-button{
  width:60px !important; 
  height:60px !important;
 }

 .listen-icon{
  margin: 0 10px;
 }

 .song{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
 }